body{
    font-family: sans-serif, Arial;
    padding:3px 20px 5px 20px;
}
h1{
    font-size: 25px;
    border-radius: 60px;
    border: 10px solid #f2ea4f;
}
.title{
    margin-bottom: 10px;
}
h2{
    font-size: 20px;
}
h2{
    padding-left: 30px;
}
p.export{
    font-size: 15px;
    padding-left: 20px;
}
.logo-icon{
    margin: 10px 10px;
    width: 50px;
    border-radius: 20px;
    border: 10px solid #f2ea4f;
}